* {
  box-sizing: border-box;
}

.intro-content {
  text-align: center;
  text-transform: uppercase;
  margin: 10rem auto;
  font-size: 3rem;
  color: rgb(207, 201, 195);
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(37, 34, 31);
}

header {
  background-color: transparent;
  color: rgb(223, 159, 41);
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(223, 159, 41);
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
  max-width: 80rem;
  padding: 0;
  color: rgb(223, 159, 41);
}

main {
  width: 100%;
  max-width: 80rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  height: 100vh;
  margin: auto;
  padding: 1rem;
}

.sidebar {
  width: 200px;
  background-color: rgb(32, 29, 26);
  color: rgb(207, 201, 195);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.sidebar-option {
  cursor: pointer;
  padding: 1rem 0;
  margin: 0.25rem 0;
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar-option:hover {
  padding-left: 10px;
  transition: padding-left 0.3s ease;
}

.main-content {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: transparent;
}

.form-container {
  display: none;
  width: 100%;
  max-width: 35rem;
  background-color: rgb(32, 29, 26);
  padding: 2.5rem;
  border-radius: 5px;
  margin: auto;
}

.form-container h2 {
  color: #4a4a4a;
  text-align: center;
}

.form-container input,
.form-container select {
  width: 100%;
  font: inherit;
  color: #4a4a4a;
  height: 2.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: rgb(207, 201, 195);
  border: 1px solid #ccc;
}

.form-container button {
  display: block;
  background-color: rgb(212, 136, 14);
  font: inherit;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: auto;
  width: 60%;
  font-size: 16pxrem;
  text-transform: uppercase;
}

.form-container button:hover {
  background-color: rgb(223, 159, 41);
}

.table-container {
  display: none;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid rgb(207, 201, 195);
}

th,
td {
  padding: 10px;
  text-align: left;
  color: rgb(207, 201, 195);
}

th {
  background-color: rgb(32, 29, 26);
}

.find-user-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.find-user-container input {
  font: inherit;
  flex: 1;
  color: #4a4a4a;
  padding: 8px;
  font-size: 16px;
  background-color: rgb(207, 201, 195);
  border: 1px solid #ccc;
}

.find-user-container button {
  font: inherit;
  background-color: rgb(212, 136, 14);
  border: 1px solid rgb(212, 136, 14);
  text-transform: uppercase;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.user-information {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 8px;
  display: none;
  border: 1px solid rgb(212, 136, 14);
  padding: 0.75rem;
}

.user-information p {
  text-transform: uppercase;
  color: rgb(207, 201, 195);
}

#delete-user {
  font: inherit;
  background-color: rgb(212, 136, 14);
  border: 1px solid rgb(212, 136, 14);
  text-transform: uppercase;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

#edit-user {
  font: inherit;
  background-color: transparent;
  border: 1px solid rgb(212, 136, 14);
  text-transform: uppercase;
  color: rgb(212, 136, 14);
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
